@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Roboto+Slab:wght@300;400&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root{
     --color-primary: #01161E;
     --color-secundary: #006BA6;
     --color-terciary: #688B58;
     --color-text1: #FFC145;
     --color-white: #D0F4EA;
}

body{
     min-height: 100vh;
     background: rgb(1,22,30);
     background: linear-gradient(0deg, var(--color-primary) 0%, var(--color-secundary) 100%);
     position:static;
     font-family: 'Dancing Script', cursive;
     font-family: 'Roboto Slab', serif;
}

header{
     background-color: var(--color-primary);
     color: var(--color-text1);
     padding: 10px;
     padding-left: 2rem;
     /* font-weight: bold; */
     font-size: 1.5rem;
}

main{
     display: flex;
     margin-top: 1rem;
     /* height: 90vh; */
     justify-content: space-around;
}

label{
     font-size: 1.5rem;    
}

.labelInput{
     display: block;
     color: var(--color-text1);
     font-weight: bold;
     margin: 0.4rem 0 0.4rem 0;
     padding: 0.4rem;
}

input{
     width: 87%;
     font-size: 1.2rem;
     padding: 0.2rem;
     border-radius: 2rem;
     border: none;
     background-color: var(--color-white);
     padding-left: 10px;
}

#tendencia{
     background-color: var(--color-white);
     border-radius: 2rem;
     color: var(--color-primary);
     padding: 0.4rem;
     font-weight: bold;
}

.formLabel{
     background-color: var(--color-white);
     border-radius: 2rem;
     color: var(--color-primary);
     display: flex;
     justify-content: space-around;
     padding: 0.4rem;
     margin-bottom: 0.5rem;
}

.labelRadio{
     display: flex;
     flex-direction: row;
}

.genero{
     width: 50px;
}

#descricao{
     padding: 5px;
     background-color: var(--color-white);
     font-size: 1.0rem;
}

.botaoForm{
     padding: 0.6rem;
     border-radius: 0.6rem;
     border: none;
     display:block;
     margin-top: 1rem;
     margin-left: auto;
     margin-right: auto;
     font-size: 1.2rem;
     background-color: var(--color-primary);
     color: var(--color-text1);
     /* font-weight: bold; */
}

.error-msg{
     margin-right: 5px;
     font-weight: bold;
     color: whitesmoke;
}
   
body>div{
     margin-left: 10px;
     padding: 5px;
}

.divCadastro{
     display: block;
     margin-top: 5px;
}

.linkCadastro{
     border: var(--color-primary) 1px solid;
     border-radius: 10px;
     color: var(--color-white);
     padding: 5px;
     text-decoration: none;
     font-weight: 500;
}

.container{
     display: flex;
     color:white;
     flex-wrap: wrap;
}

.elem{
     border: var(--color-primary) 2px solid;
     padding: 10px;
     margin: 5px;
     border-radius: 10px;
     text-align: center;
}

.imgElem{
     display: block;
     margin: auto;
     border-radius: 25px;
}

.nome{
     color: white;
     font-size: 20px;
}

.botao{
     margin:5px;
     padding: 4px;
     border-radius: 10px;
     border: black 1px solid;
     color: white;
}

.btnDelete{
     background-color: #E70D40;
}

.btnVer{
     background-color: #4CAF50;
}


   @media (max-width: 500px) {
     
     .genero{
          width: 10vw;
          background-color: #4CAF50;
     }
     }